/* CSS Style */
body {
	background: #282a36;
	color: #d3d7de;
	font-family: "Courier new";
	font-size: 18px;
	letter-spacing: 5px;
	line-height: 1.5em;
	cursor: default;
}

a {
	color: #fff;
}

.title {
	color: #<?php echo $colors[array_rand($colors)] ?>;
}

.textarea {
	margin-top: 10%;
	background-color: #282a36;
	border: 1px solid #<?php echo $colors[array_rand($colors)] ?>;
	color: #<?php echo $colors[array_rand($colors)] ?>;
	padding: 8px;
	text-align: center;
	font-family: Courier new;
}

.code-area {
	position: absolute;
	width: 320px;
	min-width: 320px;
	top: 50%;
	color: #fff;
	left: 50%;
	text-align: center;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.code-area > span {
	display: block;
}
